<h3>CraigList Minimal</h3>
<%= form_tag("/home", method: "get") do %>
    <%= label_tag(:name, "Search for:") %>
    <%= collection_select(:category, :category_id, Category.all, :id, :name) %>
    <%= submit_tag("Apply") %><%= link_to "  Show all  ", root_path %>
<% end %>

<% if signed_in? %>
    <div class="row">
      <aside class="span4">
        <section>
          <%= render 'shared/user_info' %>
        </section>
        <section>
          <% @posts.each do |post| %>
              <div class="img"><li>
            <span class="content"><%= post.content %></span>
            <span class="timestamp">
            Posted <%= time_ago_in_words(post.created_at) %> ago..<br>
            Create by <%= link_to post.user.name, post_path(post) %> <br>
            Category <%= post.category.name %>
             </span>
                <% if current_user?(post.user) %>
                    <%= link_to "delete", post, method: :delete,
                                data: { confirm: "You sure?" },
                                title: post.content %>
                <% end %>
              </li></div>
          <% end %>
        </section>
        <section>
          <%= render 'shared/post_form' %>
        </section>
      </aside>
    </div>
<% else %>
    <div class="microposts">
      <section>
        <% @posts.each do |post| %>
            <div class="img"><li>
           <span class="content"><%= post.content %></span>
            <span class="timestamp">
            Posted <%= time_ago_in_words(post.created_at) %> ago.<br>
            Contact to <%= link_to post.user.name, post_path(post) %><br>
            Category <%= post.category.name %>
             </span>
              <% if current_user?(post.user) %>
                  <%= link_to "delete", post, method: :delete,
                              data: { confirm: "You sure?" },
                              title: post.content %>
              <% end %>
            </li> </div>
        <% end %>
      </section>
      <%= link_to "Sign up now!", signup_path,
                  class: "btn btn-large btn-primary" %>
    </div>
<% end %>